.container-fluid-dash {
    background-image: url(https://i.imgur.com/NrCOmfz.png?1);
    background-repeat: no-repeat;
    background-size: cover;
}
.row-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 40vh;
    gap: 4vh;
    margin: 4vh 4vh;    
}

.feature {
    background-color: rgba(240, 248, 255, 0.61);
    border-radius: 2vh 2vh;
}

@media only screen and (max-width: 768px) {
    .row-grid {
        display: grid;
        grid-template-columns: 1fr;
        height: 40vh;
        gap: 4vh;
    } 
}
