.row-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 40vh;
}

@media only screen and (max-width: 768px) {
    .row-grid {
        display: grid;
        grid-template-columns: 1fr;
        height: 40vh;
    } 
}