.w-50 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.background-img{
    background-image: url(https://i.imgur.com/IWPmDjX.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
}