.App {
  text-align: center;
}

.active {
  background-color: purple;
}
.navbar-default{
  margin-bottom: 0;
  width: 100vw;
}

.footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100vw;
  height: 5vh;
  background-color: #d5ecec;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

.flex-ctr-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}