.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  height: 100%;
}

.active {
  background-color: purple;
}
.navbar-default{
  margin-bottom: 0;
  width: 100vw;
}

.footer {
  position:sticky;
  bottom:0;
  left:0;
  margin-top: auto;
  width:100vw;
  height: auto;
  background-color: #d5ecec;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-ctr-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}